.back-video{
  position:absolute;
  right:0;
  bottom:0;
  min-width:100%;
  min-height:100%;
  width:auto;
  height:auto;
  z-index:-100;
}

@media(min-aspect-ratio:16/9){
.back-video{
  width:100%;
  height:auto;
}
}
@media(max-aspect-ratio:16/9){
.back-video{
  width:auto;
  height:100%;
}
}


@media screen and (min-width: 390px){
  body{
    background-color:#FFFEF2;
    font-family:'Didact Gothic', sans-serif;
  }

  img {
    width: 100%;
    height: auto;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .logo{
  width: 140px;
  }

  .nav-links{
  padding:28px 0;
  }

  .nav-links li{
  display: inline-block;
  margin: 0 15px;
  }

  .nav-links li a{
  text-decoration:none;
  color:black;
  padding:5px 0;
  }

  .box{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    padding:20px;
    gap:20px;
  }
  .nav-content{
  position:absolute;
  left:50%;
  top:50%;
  width:90%;
  max-width:900px;
  transform:translate(-50%,-50%);
  text-align:center;
  color:white;
  }

  .nav-content h1{
  font-size:65px;
  font-weight:600;
  margin-bottom:40px;
  text-align:center;
  color:white;

  }

  .picture{
    background-color: inherit;
    padding:5px;
    width: 100%;
    height: auto;
    vertical-align: middle;
    grid-column:2/4;
    grid-row: 2/4;
  }
  .title {
    background-color:inherit;
    padding:5px;
    grid-column:1 / 4;
    grid-row: 1;
  }
  .nav {
    background-color:inherit;
    color:#32502E;
    padding:5px;
    grid-column:1;
    grid-row: 2/4;

  }
  .profile{
    background-color:inherit;
    color:#32502E;
    margin-top:180px;
    grid-column:1;
    grid-row: 1/4;

  }

  .cv{
    background-color:inherit;
    padding:100px;
    grid-column:2/4;
    grid-row: 1/4;
    box-sizing: border-box;
    display:block;
    color:#32502E;
  }

  .content {
    background-color:inherit;
    margin-top:50px;
    grid-column:2/4;
    grid-row: 2/4;
    box-sizing: border-box;
    display:block;
    color:#32502E;

  }

  .content_project{
    background-color:inherit;
    padding:100px;
    grid-column:2/4;
    grid-row: 1/4;
    box-sizing: border-box;
    display:block;
    color:#32502E;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #32502E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color:#FFFEF2;
    color:#32502E;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

}
@media screen and (max-width: 389px){


  body{
    background-color:#FFFEF2;
    color:#32502E;
    font-family:'Didact Gothic', sans-serif;
  }

  img {
    width: 100%;
    height: auto;
  }

  nav{
    align-items: center;
    justify-content: space-between;
  }


  .logo{
  width: 140px;
  }

  .nav-links{
    font-size: 3em;
  }

  .nav-links li{
  display: block;
  margin: 0 15px;
  }

  .nav-links li a{
  text-decoration:none;
  color:black;
  padding:5px 0;
  }

  .box{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:0.45fr 0.45fr 0.45fr;
    background-color: inherit;
    padding:20px;
    gap:20px;
  }
  .picture{
    background-color: inherit;
    padding:5px;
    grid-column:2/4;
    grid-row: 2/4;
  }
  .title {
    background-color:inherit;
    padding:5px;
    grid-column:1;
    grid-row: 1;
  }
  .nav {
    background-color:inherit;
    padding:5px;
    grid-column:1;
    grid-row: 3;
  }
  .content {
    background-color:inherit;
    padding:5px;
    grid-column:1;
    grid-row: 2;
  }

  .profile{
    background-color:inherit;
    color:#32502E;
    margin-top:180px;
    grid-column:1;
    grid-row: 3;

  }

  .content_project{
    background-color:inherit;
    grid-column:1;
    grid-row:2;
  }

  .cv{
    background-color:inherit;
    padding:10px;
    grid-column:1;
    grid-row: 2;
    box-sizing: border-box;
    display:block;
    color:#32502E;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #32502E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color:#FFFEF2;
    color:#32502E;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

}
